* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.image {
    width: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {

    width: 100%;
    background-color: #00a3ba ; 
    position: fixed;
    padding-top: 0.8%;
    top: 0;
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2) ;
    z-index: 9999;
}

nav {
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    height: 50px;
    color: white;
    justify-content: space-evenly;
}


nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: whitesmoke;
    max-width: 1200px; /* Adjust the value according to your design */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


nav h1 {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

#sidebar a:hover{
    background-color:#ffffff;
    color: #00a3ba;
}

nav a:hover{
    background-color: whitesmoke;
    color: #00a3ba;
    transition: background-color 0.5s;
}


nav li:first-child {
    margin-right: auto;
    margin-left: auto;
    color: whitesmoke;
}

.logo {
    margin-right: auto;
    width:160px ;
    align-items: flex-start;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: centerl;
    transition: 0.5s;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 999;
    background-color: #00a3ba;
    color: whitesmoke;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.2) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: width 0.9s ease;
}

.active-t {
    background-color:#ffffff;
}

.sidebar li.active-t a{
    color: #00a3ba;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color:whitesmoke;
    font-weight: 500;
}

.showOnMobile {
    display: none;
    
}

.showOnMobile h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/*   page content */

.hero {
    max-width: 1000px;
    margin: auto;
    padding-top: 80px; 
}

.hero h1 {
    padding-top: 0px;
    color: #343a40;
    padding-bottom: 5px;
}
.hero h2 {
    width: 100%;
    padding-top: 40px;
    color: #00a3ba;
    padding-bottom: 20px;
    text-align: center;
    align-content:center ;
    justify-content: center;
}

.hero a {
    padding-top: 20px;
    font-weight: 500;
    margin-block-start: 1em;
    margin-block-end: 4em;
    line-height: 40px;
}

.hero a.br {
    line-height: 20px;
    display: flex;
    margin: 0;
    padding: 0;
}
.hero p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 20px;
    color: #595957;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: justify;
}

.hero-t {
    padding-top: 0;
    height: 30px;
    background-color: #00a3ba;
    align-items: center;
    justify-items: center;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hero-t h1 {
    margin-top: 40px;
    display: flex;
    padding-top: 10px;
    color: whitesmoke;
    font-weight: 500;
    align-content: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #00a3ba;
}

footer p {
    padding: 5px;
    color: whitesmoke;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*   posters.html */

.hero .posterdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom:1px solid #c7c7c4;
}

.posterdiv-left {
    display: flex;
    width: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 10px;
}

.posterdiv-left img{
    width: 50%;
    border: 0.2px solid grey;
    background-color:#00a3ba;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    padding-left: 2%;
}

.posterdiv-right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 10px;
}

.posterdiv p {
    font-weight: 500;
    margin-block-start: 0em;
    margin-block-end: 5em;
    margin: 0;

}

.presenter {
    margin-bottom: 100px;
}


p.role {
    color: #00a3ba; 
}

.img-f {
    width: 100%;
    height: 100%;
}



/*   Speakers.html */

.speakerdiv-left {
    display: flex;
    width: 150px;
    list-style: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 10px;
}

.speakerdiv-left img{
    
    width: 80%;
    border: 0.1px solid grey;
    background-color:#00a3ba;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10%;
    padding-left: 2%;
    
}

.deg {
    margin-bottom: 100px; 
}




/*   Programme.html */



.calender ul {
    max-width: 1000px;
    width: 100%;
    height: 100px;
    list-style: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: auto;
}

.calender li{
    width: 100%;
    justify-content: space-around;
}

.calender a:hover{
    background-color: #173a40;
    
}

.calender a {
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-evenly ;
    justify-items: center;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: grey;
}

.event {
    background-color: #f3f2f2;
    color: #595957;
    margin-top: 10px;
    padding-left: 5px;
}

.day h1{
    text-align: left;
    align-items: center;
    justify-content:center ; 
    color: whitesmoke;
    padding-left: 5px;

}

.calender li {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.calender a {
    height: 10px;
    text-align: left;
    margin: 0;
    padding: 10px;
    border-radius: 50px;

}

.calender{
    position: fixed;
    bottom: 0;
    background-color: #00a3ba;
    z-index: 400;
    width: 100%;
    height: 80px;
}

.event {
    padding: 2px;
    color: #595957;
}

.day h1{
    color: whitesmoke;
    justify-items: center;
    padding: 10px;
    text-align: center;
}



.day {
    flex: 1;
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: block; /* Show all days by default */
    border-radius: 5px;
    padding-top: 5px;
}

.sessions {
    padding: 2px;
    margin-left: 30px;
}

.tile-calender {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 5px solid #f3f2f2;
}

.session-box{
margin-top: 8px;
background-color: #f0eee6;

box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.hero a.link {
    text-decoration: none;
    margin: auto;
    width: 100%;
   
}



.container {
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 15px;
    border-bottom:1px solid #c7c7c4;
    margin: 10px;
    align-items: center;
    
}


.container-v {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


.sub-container-v {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  #container2 {
    width: 12%;
    height: 12%;
    position: relative;
    
  }
  
  #container3 {
    width: 60%;
    margin-left: 20px;
    align-content: center;
    justify-content: center;
    
    
  }
  #container-v2 {
    width: 20%;
    height: 20%;
    position: relative;

    
  }
  
  #container-v3 {
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    
    
  }

  .photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    border: 1px solid gray; 
    border-left: 5px solid #00a3ba;
    object-fit: cover;
    object-position: center;

}

#container-v2 .photo   {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    display: flex;
    border: 0.5px solid gray; 
    border-left: 6px solid #00a3ba;
    border-right: 6px solid #00a3ba;

}




#container3 p {
    margin: 0;

}
#container-v3 p{
    margin: 0;
    text-align: center;

}

p.name{
    font-weight: bold;

}

p.org {
    font-weight: normal;
}

p.typ {
    font-weight: normal;
    width: 50%;
    text-align: left;
    color: #00a3ba;
    font-weight: bold;

}
 
.k {
    color: #00a3ba;
}
.v {
    color: #027483;
}
.p {
    color: #01444d;
}

p.note {
    text-align:left ;
}

.hero a .container:hover {
    transform: scale(0.98); 
    transition: transform 0.3s ease-out; 
    background-color: #f0eee6;
    
}

.container-t {
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom:1px solid #c7c7c4;
    align-items: center;
    border-left: 10px solid #00a3ba;
    border-right: 10px solid #00a3ba;
    margin-bottom: 30px;
}
.container-t:hover {
    transform: scale(0.98); 
    transition: transform 0.3s ease-out; 
    background-color: #f0eee6;
    
}

.sub-container#time {
    width: 18%;
    position: relative;
    justify-content: center;
    padding-left: 30px;

    
}

  #venue {
    width: 60%;
    margin: 0;
    
  }



.sessionN{
    font-weight: bold;
    margin: 0;
}

p.sname{
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 20px;
    padding-top: 10px;
    margin: 10px;

}

p.st {
    font-weight: normal;
    margin: 0;
    margin: 10px;
    
}

.grey-marker {
    color: grey;
    padding-right: 10px;
}

.t{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0eee6;

    
}

    h1.s-t{
    margin-top: 30px;
    justify-items: center;
    margin-bottom: 10px;
    text-align: left;
    color: #00a3ba;
}

.flex-b {
    background-color: #00a3ba;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    padding-bottom: 40px;

    
}

.flex {
    margin: 20px;
    height: 30%;
    border-radius: 20px;
    background-color: white;
    color:#00a3ba;
    position: relative;
    top: 20px;  
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.f-div1 {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #00a3ba;
    text-align: center;
    overflow: hidden;
}
 .f-div2 {
    width: 40%;
    justify-content: center;
    text-justify:inter-cluster;
    text-align: center;
}

.f-div1 img {
    border: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content:center ;
}


.f-div2 h3 {
    font-weight: normal;
}
.f-div2 h4 {
    font-weight: normal;
    color: #016e7c;
}


.arrow-button svg {
    width: 20px; 
    height: 60px;
    margin-left: 5px; 
    stroke: #fff;
    background-color: #00a3ba;
    border-radius: 10px;
    transform: rotate(270deg);

}

.img-f {
    width: 100%;
    height: 100%;
}

.poster {
    border:0.2px solid grey;
    border-left: 10px solid #00a3ba;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    
}


.poster h2{
    width: 60px;
    padding-right: 10px;
    padding-left: 10px;
}

.sub-container .pp{
    margin: 0;
    padding: 5px;
    justify-content: left;
    padding-left: 10px;
}

.sub-container .pp:hover{
    transform: scale(0.98); 
    transition: transform 0.3s ease-out; 
    background-color: #f0eee6;
}

.btn {
    width: 100%; 
    text-align: center;
    align-items: center; 
    justify-content: center; 
    margin: 25px;
}

.btn a {
    color: whitesmoke; 
    text-decoration: none; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border-radius: 20px; 
    background-color: #00a3ba ;
}
.btn p {
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-bottom: 40px;
}


.hideOnweb{
    display: none;
}
.container-v p.s{
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-weight: bold;
}

.sess_d {
    display:flex;
    flex-direction: column;
}

    .b2 p {
        margin: 5px;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .b2 {
        border-top: 0.5px solid #ebebeb;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }   

    .b2 a.link p:hover{
        color: #00a3ba;
        width: 200px;
        margin: auto;
        transform: scale(0.98); 
        transition: transform 0.3s ease-out; 
        background-color: #f0eee6;
    
    }
    .b2 a.link p{
    font-weight: bold;
    }

    a.br.hideOnMobile{
        display: none;
    }

    .container-v p.s{
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        font-weight: bold;
    }








/*   mobile screen code ---------------------------------------------------------------*/
/*   mobile screen code ---------------------------------------------------------------*/
/*   mobile screen code ---------------------------------------------------------------*/
/*   mobile screen code ---------------------------------------------------------------*/
/*   mobile screen code ---------------------------------------------------------------*/
/*   mobile screen code ---------------------------------------------------------------*/

@media( max-width:840px ){
    .hideOnMobile{
        display: none;
    }

    .showOnMobile {
        display: block;
        
    }

    li h1 {
        font-size: 1em;
        font-weight: 500;
    }


    .sidebar li {
        width: 100%;
        font-size: 0.8em;
    }


    .hero {
        padding-top: 50px;
        margin: 8px;
        padding-bottom: 10px; 
    }

    .hero h1 {
        font-size: 0.8em;
        color: whitesmoke;
        align-content:center ;
        justify-content: center;
    
    }

    .hero h2 {
        width: 100%;
        font-size: 0.8em;
        padding-top: 20px;
        color: #00a3ba;
        padding-bottom: 20px;
        text-align: center;
        align-content:center ;
        justify-content: center;
    }



    p {
        font-size: 0.8em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        line-height: 10px;
        margin-bottom: 10px;
    }

    footer {
        width: 100%;
        height: 20px;
        background-color: #00a3ba;
        position: fixed;
        bottom: 0;
    }

    footer p {
        padding: 5px;
        color: whitesmoke;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav li a {
        color: whitesmoke;
    }

    .b{
        position: fixed;
        top: 0;
        left: 0;
    }

    .m{
        position: fixed;
        top: 0;
        right: 0;
    }

    nav a:hover{
        transition: background-color 0.3s;
        background-color:#00a3ba;
        color: whitesmoke;   
    }
    nav ul {
        width: 100%;
        list-style: none;
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }


    #sidebar li a:hover svg {
        transform: scale(1.4); 
        transition: transform 0.3s ease; 
    }

    .hero-t {
        padding-top: 0;
        height: 15px;
        background-color: #00a3ba;
        color: whitesmoke;
        font-size: 0.8em;
        margin: 0;
        margin-bottom: 10px;

    }
    
    .hero-t h1 {
        margin-top: 5px;
        padding-top: 5px;
        font-size: 0.8em;
        color: whitesmoke;
    }

    header {
        width: 100%;
        padding-top: 0.1%;
        top: 0;
        box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2) ;
        z-index: 9999;
    }

    .posterdiv p {
        margin: 0;
    }

            
    .presenter {
        font-size: 0.8em;
    }
    


    .calender li {
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 10px;
    }

    .calender a {
        height: 10px;
        text-align: left;
        margin: 0;
        padding: 10px;
        font-size: 0.6em;
    }

    .calender{
        position: fixed;
        bottom: 20px;
        background-color: #00a3ba;
        
        margin: 0;
        width: 100%;
    }

    .event {
        font-size: 0.7em;
        padding: 2px;
        color: #595957;
    }
    
    .day h1{
        font-size: 0.7em;
        color: whitesmoke;
        justify-items: center;
        padding: 10px;
        text-align: center;
    }



    .day {
        flex: 1;
        background-color: #fff;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        display: block; /* Show all days by default */
        border-radius: 5px;
        padding-top: 5px;
    }

    .sessions {
        font-size: 0.7em;
        padding: 2px;
        margin-left: 30px;
    }

    .tile-calender {
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 5px solid #f3f2f2;
    }

    .session-box{
    margin-top: 8px;
    background-color: #f0eee6;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

    }

    .hero a.link {
        color: inherit;
        text-decoration: none;
        margin:auto;
        
    }
    
    .container-t:hover {
        transform: scale(0.98); 
        transition: transform 0.3s ease-out; 
        background-color: #f0eee6;
        
    }


    .container {
        display: flex;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 5px;
        border-bottom:1px solid #c7c7c4;
        margin: 10px;
        align-items: center;
        
    }


    .container-v {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        
    }


    .sub-container-v {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
      }
      
      #container2 {
        width: 22%;
        height: 22%;
        position: relative;
        
      }
      
      #container3 {
        width: 60%;
        margin-left: 20px;
        align-content: center;
        justify-content: center;
        
        
      }
      #container-v2 {
        width: 40%;
        height: 40%;
        position: relative;

        
      }
      
      #container-v3 {
        width: 50%;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        
        
      }
    
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        border: 0.5px solid gray; 
        border-left: 4px solid #00a3ba;
        object-fit: cover;
        object-position: center;

      

    }
    
#container-v2 .photo   {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        display: flex;
        border: 0.5px solid gray; 
        border-left: 6px solid #00a3ba;
        border-right: 6px solid #00a3ba;

    }

    
    #container3 p {
        margin: 0;
    
    }
    #container-v3 p{
        margin: 0;
        text-align: center;
    
    }

    p.name{
        font-weight: bold;
        font-size: 0.7em;

    }
    
    p.org {
        font-weight: normal;
        font-size: 0.7em;
    }

    p.typ {
        font-weight: normal;
        font-size: 0.7em;
        text-align: left;
        color: #00a3ba;
        font-weight: bold;
        width: 100%;

    }
     
    .k {
        color: #00a3ba;
    }

    .v {
        color: #027483;
    }
    .p {
        color: #01444d;
    }

    p.note {
        text-align:left ;
    }

    .hero a .container:hover {
        transform: scale(0.98); 
        transition: transform 0.3s ease-out; 
        background-color: #f0eee6;
        
    }

    .container-t {
        display: flex;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom:1px solid #c7c7c4;
        align-items: center;
        border-left: 2px solid #00a3ba;
        border-right: 2px solid #00a3ba;
        margin-bottom: 10px;
    }
    
    .sub-container#time {
        width: 18%;
        position: relative;
        justify-content: center;
        padding-left: 30px;

        
    }

      #venue {
        width: 60%;
        margin: 0;
      }


    .sessionN{
        font-weight: bold;
        margin: 0;
    }

    p.sname{
        font-weight: bold;
        margin: 0;
        padding: 0;
        font-size: 0.7em;
        line-height: 14px;
        padding-top: 10px;

    }
    
    p.st {
        font-weight: normal;
        font-size: 0.7em;
        margin: 0;
        
        
    }

    .grey-marker {
        color: grey;
        padding-right: 10px;
    }

    .t{
        font-size: 0.8em;
        width: 100%;
        height: 20px;
        display: flex;
        background-color: #f0eee6;
        justify-content: center;
        align-items: center;
        
    }
    
        h1.s-t{
        font-size: 0.8em;
        color: #00a3ba;
        margin-bottom: 10px;
        background-color: transparent;
        text-align: left;

    }

    .flex-b {
        background-color: #00a3ba;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -38px;
        padding-bottom: 40px;

        
    }
    
    .flex {
        margin: 20px;
        height: 30%;
        border-radius: 20px;
        background-color: white;
        color:#00a3ba;
        position: relative;
        top: 20px;  
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .f-div1 {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #00a3ba;
        text-align: center;
        overflow: hidden;
    }
     .f-div2 {
        width: 40%;
        justify-content: center;
        text-justify:inter-cluster;
        text-align: center;
    }
    
    .f-div1 img {
        border: 0;
        position: relative;
        bottom: 0;
        width: 100%;
        justify-content:center ;
    }
      .f-div2 h2 {
        font-size: 1.3em;
    }
    .f-div2 h3 {
        font-weight: normal;
        font-size: 0.8em;
    }
    .f-div2 h4 {
        font-size: 0.6em;
        font-weight: normal;
        color: #016e7c;
    }


    .arrow-button svg {
        width: 20px; 
        height: 60px;
        margin-left: 5px; 
        stroke: #fff;
        background-color: #00a3ba;
        border-radius: 10px;
        transform: rotate(270deg);
    
    }

    .img-f {
        width: 100%;
        height: 100%;
    }

    
    .poster {
        border:0.2px solid grey;
        border-left: 6px solid #00a3ba;
        border-radius: 10px;
        justify-content: left;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        
    }



    .poster h2{
        width: 40px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.1em;
        justify-content: left;


    }

    .sub-container .pp{
        margin: 0;
        padding: 0;
        justify-content: left;
        font-size: 0.7em;
    }
    
    .sub-container .pp:hover{
        transform: scale(0.98); 
        transition: transform 0.3s ease-out; 
        background-color: #f0eee6;
    }

    .btn a {
      font-size: 0.8em;
    }

    .btn p {
        font-size: 0.7em;
        align-items: center; 
        justify-content: center; 
        text-align: center;
        margin-bottom: 10px;
    }

   .sess_d {
    display:flex;
    flex-direction: column;
}

    .b2 p {
        margin: 5px;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .b2 {
        border-top: 0.5px solid #ebebeb;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }   

    .b2 a.link p:hover{
        color: #00a3ba;
        width: 200px;
        margin: auto;
        transform: scale(0.98); 
        transition: transform 0.3s ease-out; 
        background-color: #f0eee6;
    
    }
    .b2 a.link p{
    font-weight: bold;
    }

    a.br.hideOnMobile{
        display: none;
    }

    .container-v p.s{
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        font-weight: bold;
    }

    .back {
        align-items: center;
        justify-content: flex-start;
    }
}